iframe{
    width: 100% !important;
    height: 75% !important;
}
#logoText{
    text-shadow: 0px 0px 30px black;
    font-family: 'Press Start 2P', cursive;
}
.heads{
    font-family: 'McLaren', cursive;
}
.w3-display-left {
    margin-left: 25%;
}
.w3-display-right {
    margin-right: 25%;
}

.profile-pic {
    width:  175px;
    height: 175px;
}

#main-search {
    margin-left: 15%;
}
#main-button {
    margin-right: 15%;
}

.fa-trash-alt {
    color: gray
}

.title-table {
    width: 95%;
}

.trash-btn {
    padding: 3px;
    background: transparent;
    border: none;
}

.trash-btn :hover{
    background: transparent;
    border: none;
    color: rgb(240, 70, 70);
    cursor: pointer;
}

.table-headers {
    background-color: black;
    color: white;
}

.header-2 {
    background-color: black;
    color: white;
    font-weight: 150%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    padding: 5px;
}

.w3-table, .w3-ul {
    width: 93%;
    margin: 20px;
}

h6 {
    font-size: 12px;
}

#home {
    margin-top: 8px;
}

#infoDiv {
    min-height:500px;
    padding:5px 20px;
}
#twitch {
    min-height:300px;
    padding:5px 20px;
}
#purchase {
    min-height:300px;
    padding:5px 20px;
}
#gameInfo {
    min-height:300px;
    padding:5px 20px;
    
}
#rating {
    min-height:300px;
    padding:5px 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#compare {
    width: 50% !important;
    height: 50%;
    margin-bottom: 2%;
}
.game-image {
    width: 300px;
}

.game-desc {
    width: 60%;
}

#age-rating-img {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    margin-left: 190px;
}

#game-reviews {
    margin: auto
}

.twitch-preview {
    margin: 20px;
    border: 5px solid black;
}
.w3-round {
    margin: 5px;
}
#topGames{
    margin-bottom: 20px;
}
.w3-round {
    margin: 5px;
}

.bio-section {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

h1 {
    margin-top: 0
}

#wishlist{
    max-width: 75%;
    margin: auto;
}
.parent-button {
    margin: 5px;
}

@media only screen and (max-width: 700px) {
    #logoText {
        font-size: 35px !important;
    }
    
  }
  @media only screen and (max-width: 600px) {
    #gameInfoContainer{
        margin-top: 134px !important;
    }
    #gameInfo{
        text-align: center !important;
    }
    #home{
        margin-top: 130px !important;
    }
    .game-desc {
        width: 100%;
    }
    .game-image{
        margin-left: 20% !important;
    }
    .gameSearch{
        margin-top: 1%;
    }
    .userHeading{
        margin-top: 130px !important;
        text-align: center !important;
    }
    .profile-pic{
        margin: 0 !important;
    }
    #main-search {
        width: 75%;
        margin: 0;
    }
    #main-button {
        margin: 0;
    }
  }

  @media only screen and (max-width: 432px) {
    .twitch-preview {
        margin: 0 !important;
    }
    .game-image{
        margin-left: 5% !important;
    }
    #walmart{
        width: 300px !important;
        height: 75px !important; 
    }
    #gamestop{
        width: 300px !important;
        height: 75px !important;
    }
  }
.w3-round {
    margin: 5px;
}

.bio-section {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

h1 {
    margin-top: 0
}

.profile-pic {
    text-align: center;
}

.hide {
    display: none;
}
